<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.tatahealth.EMR.Scripts.MasterAdministration.ServiceMaster</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_List_Test7</td>
<td>Regression Service_List_Test7 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_Close_Test</td>
<td>Service_Close_Test Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_Save_Test</td>
<td>Service_Save_Test Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ServiceMasterTest</td>
<td>Regression ServiceMasterTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_Doctor3_Test</td>
<td>Service_Doctor3_Test Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_Doctor1_Test</td>
<td>Service_Doctor1_Test Regression </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_List_Test2</td>
<td>Regression Service_List_Test2 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_List_Test3</td>
<td>Regression Service_List_Test3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_List_Test1</td>
<td>Regression Service_List_Test1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_List_Test4</td>
<td>Regression Service_List_Test3 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_List_Test5</td>
<td>Regression Service_List_Test4 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_List_Test6</td>
<td>Regression Service_List_Test4 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_Doctor4_Test</td>
<td>Regression Service_Doctor4_Test </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Service_Doctor2_Test</td>
<td>Regression Service_Doctor2_Test </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>Regression MasterAdministration </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>afterClass</td>
<td>Regression MasterAdministration </td>
</tr>
</table>
